@import url('https://fonts.googleapis.com/css?family=Lexend+Deca:400');
$base-color: #e0e0e0;
$hollow-color:linear-gradient(145deg,
#cacaca,
#f0f0f0);
$balloon-color:linear-gradient(145deg,
#f0f0f0,
#cacaca);
$text-color: #070b11;
$text-hover-color: rgba(7,
11,
17,
0.6);
$shadow-color-bright: #bebebe;
$shadow-color-dark: #ffffff;
$radius: 10px;
@mixin neumo-flat($size) {
    border-radius: $radius;
    background: $base-color;
    box-shadow: $size/30 $size/30 $size/15 $shadow-color-bright, $size/30*-1 $size/30*-1 $size/15 $shadow-color-dark;
}

@mixin neumo-deep($size) {
    border-radius: $radius;
    background: $base-color;
    box-shadow: inset $size/30 $size/30 $size/15 $shadow-color-bright, inset $size/30*-1 $size/30*-1 $size/15 $shadow-color-dark;
}

@mixin neumo-hollow($size) {
    border-radius: $radius;
    background: $hollow-color;
    box-shadow: $size/30 $size/30 $size/15 $shadow-color-bright, $size/30*-1 $size/30*-1 $size/15 $shadow-color-dark;
}

@mixin neumo-balloon($size) {
    border-radius: $radius;
    background: $balloon-color;
    box-shadow: $size/30 $size/30 $size/15 $shadow-color-bright, $size/30*-1 $size/30*-1 $size/15 $shadow-color-dark;
}

// Definitions des tailles de polices
h1,
h2,
h3,
h4,
h5 {
    line-height: 1.3;
}

h1 {
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text_small {
    font-size: 0.8rem;
}