@import "./src/core.scss";
.header-image {
    margin: 1rem;
    padding: 3rem;
    @include neumo-deep(200px);
    >img {
        @include tablet {
            width: -webkit-fill-available;
        }
    }
    @include tablet {
        width: -webkit-fill-available;
    }
}

.content {
    >h3 {
        margin: 2rem;
    }
    .col {
        padding: 1rem;
        @include tablet {
            padding: 0rem;
        }
    }
    .all-article {
        display: grid;
        width: 80%;
        a {
            color: $text-color;
            text-decoration: none;
            .article {
                margin: 1rem;
                padding: 1rem;
                min-height: 10rem;
                @include neumo-balloon(200px);
                background: linear-gradient(130deg, #f0f0f0, #cacaca, #f0f0f0);
                background-size: 400% 400%;
                animation: hollowToBalloon 0.3s ease;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover {
                    background-position: 75% 100%;
                    animation: balloonToHollow 0.3s ease;
                }
                &:active {
                    @include neumo-hollow(200px);
                }
                .header {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    justify-items: center;
                    @include tablet {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
                .description {
                    margin-top: 1rem;
                    padding: 1rem;
                    width: 100%;
                    min-height: 5rem;
                    @include neumo-deep(200px);
                }
            }
        }
        @include tablet {
            width: 100%;
        }
    }
}

@keyframes balloonToHollow {
    0% {
        background-position: 0% 0%
    }
    100% {
        background-position: 75% 100%
    }
}

@keyframes hollowToBalloon {
    0% {
        background-position: 75% 100%
    }
    100% {
        background-position: 0% 0%
    }
}